/* VARIABLES */
$color: (
  point-pink: #e6276e,
  font-white: #ffffff,
  font-gray1: #eeeeee,
  font-gray2: #dddddd,
  font-gray3: #686868,
  font-gary4: #1b1b1b,
  font-gray5: #101010,
  font-black: #000000,
  bg-light: #ffffff,
  bg-gray: #eeeeee,
  bg-dart: #101010,
);
