/* Pretendard */
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  src: url("/asset/font/Pretendard-Bold.woff") url("/asset/font/Pretendard-Medium.woff") format("woff");
}
/* RiaSans */
@font-face {
  font-family: "RiaSans";
  font-style: normal;
  font-weight: normal;
  src: url("/asset/font/RiaSans-ExtraBold.woff");
}