/* Pretendard */
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  src: url("/asset/font/Pretendard-Bold.woff")
    url("/asset/font/Pretendard-Medium.woff") format("woff");
}

$font: (
  primary-font-r: "Pretendard-Regular",
  primary-font-b: "Pretendard-Bold",
);

$font-weight: (
  bold: 700,
  medium: 500,
);

@mixin text_12 {
  font-family: map-get($font, primary-font);
  font-size: 12px;
  font-style: normal;
}

@mixin text_16 {
  font-family: map-get($font, primary-font);
  font-size: 16px;
  font-style: normal;
}

@mixin text_56 {
  font-family: map-get($font, primary-font);
  font-size: 56px;
  font-style: normal;
}

@mixin text_56_bold {
  font-family: map-get($font, primary-font-b);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
}

/* RiaSans */
@font-face {
  font-family: "RiaSans";
  font-style: normal;
  font-weight: normal;
  src: url("/asset/font/RiaSans-ExtraBold.woff");
}

$font: (
  point-font: "RiaSans",
);

@mixin text_16_r {
  font-family: map-get($font, point-font);
  font-size: 16px;
  font-style: normal;
}

@mixin text_26_r {
  font-family: map-get($font, point-font);
  font-size: 26px;
  font-style: normal;
}

@mixin text_30_r {
  font-family: map-get($font, point-font);
  font-size: 30px;
  font-style: normal;
}

@mixin text_60_r {
  font-family: map-get($font, point-font);
  font-size: 60px;
  font-style: normal;
}

@mixin text_77_r {
  font-family: map-get($font, point-font);
  font-size: 77px;
  font-style: normal;
}
