* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "RiaSans-ExtraBold";
  src: url("./asset/font/RiaSans-ExtraBold.otf") format("otf");
}
