/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "RiaSans-ExtraBold";
  src: url("./asset/font/RiaSans-ExtraBold.otf") format("otf");
}
/* VARIABLES */
/* font */
/* variable */
/* header */
#header {
  width: 100%;
}
#header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  width: 100%;
  height: 70px;
  font-size: 14px;
}
#header .navbar .logo {
  width: 96px;
  height: 34px;
  background: url(/asset/image/JBok.png) center/cover no-repeat;
}
#header .navbar .navbar_right {
  display: flex;
  gap: 30px;
}

/* main */
#main {
  width: 100%;
  height: 832px;
  background: url(/asset/image/bg.png) center/cover no-repeat;
  position: relative;
}
#main .main_desc {
  border: 1px solid red;
  position: absolute;
}
#main .main_desc :nth-child(1) {
  color: #e6276e;
}
#main .main_desc p:nth-child(2) {
  color: #ffffff;
}

/* profile */
#profile {
  width: 100%;
}