/* reset */
@import "../config/reset.scss";
@import "../config/color.scss";
@import "../config/image.scss";
@import "../config/font.scss";

/* header */
#header {
  // width: 1280px;
  width: 100%;
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    width: 100%;
    height: 70px;
    .logo {
      width: 96px;
      height: 34px;
      background: url(/asset/image/JBok.svg) center/cover no-repeat;
      cursor: pointer;
    }
    .navbar_right {
      @include text_16_r;
      display: flex;
      gap: 20px;
      cursor: pointer;
    }
  }
}

/* main */
#main {
  // width: 1280px;
  width: 100%;
  height: 832px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url(/asset/image/bg.png) center/cover no-repeat;
  .main_desc {
    // border: 1px solid red;
    width: 100%;
    height: 832px;
    display: flex;
    flex-direction: column;
    align-items: center;
    :nth-child(1) {
      margin-top: 70px;
      @include text_16;
      color: map-get($color, point-pink);
    }
    :nth-child(2) {
      margin-top: 160px;
      @include text_77_r;
      color: map-get($color, font-white);
    }
    :nth-child(3) {
      margin-top: -15px;
      @include text_77_r;
      // color: map-get($color, font-white);
      color: transparent; /* 글자 내부 색 없애기 */
      -webkit-text-stroke: 2px map-get($color, font-white); /* 테두리 두께와 색상 */
      // text-stroke: 2px map-get($color, font-white); /* 다른 브라우저에서도 지원 가능하도록 */
    }
    :nth-child(4) {
      margin-top: 13px;
      @include text_16;
      color: map-get($color, font-white);
    }
    .arrow_circle {
      border: 1px solid red;
      width: 43px;
      height: 43px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 210px;
      background: map-get($color, point-pink);
      border-radius: 50%;
      i {
        width: 26px;
        height: 26px;
        font-size: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: map-get($color, font-white);
      }
    }
  }
}

/* profile */
#profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 77px 0px;
  .profile_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
    gap: 15px;
    span {
      @include text_16;
    }
    p {
      @include text_30_r;
    }
    .underline {
      width: 50px;
      height: 2px;
      background: map-get($color, point-pink);
    }
  }
  .profile_desc {
    display: flex;
    gap: 37px;
    margin-bottom: 260px;
    .profile_img {
      width: 286px;
      height: 280px;
      background: url(/asset/image/profileimg.svg) center/cover;
    }
    .profile_info {
      .profile_intro {
        @include text_56;
        line-height: 63px;
        letter-spacing: -2px;
        margin-bottom: 20px;
        span {
          @include text_56_bold;
        }
      }
      .profile_mail {
        display: flex;
        align-items: center;
        margin-bottom: 7px;
        gap: 5px;
        i {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 27px;
          height: 27px;
          font-size: 23px;
        }
        p {
          @include text_16;
          font-size: 16px;
        }
      }
      .profile_github {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 20px;
        i {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 27px;
          height: 27px;
          font-size: 24px;
        }
        p {
          @include text_16;
          font-size: 16px;
        }
      }
      .profile_box {
        display: flex;
        gap: 15px;
        .box {
          padding: 13px 25px;
          background: map-get($color, point-pink);
          border-radius: 10px;
        }
        span {
          @include text_16_r;
          color: map-get($color, font-white);
        }
      }
    }
  }
}

/* skill */
#skill {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  .skill_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    gap: 15px;
    span {
      @include text_16;
    }
    p {
      @include text_30_r;
    }
    .underline {
      width: 50px;
      height: 2px;
      background: map-get($color, point-pink);
      margin-bottom: 70px;
    }
  }
  .skill_wrapper {
    display: flex;
    flex-direction: column;
    padding: 0px 201px;
    @include text_26_r;
    .skill_1 {
      display: flex;
      gap: 466px;
      margin-bottom: 37px;
    }
    .skill_2 {
      display: flex;
      gap: 506px;
    }
  }
}

/* teamproject */
#teamproject {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  .teamproject_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    span {
      @include text_16;
    }
    p {
      @include text_30_r;
    }
    .underline {
      width: 50px;
      height: 2px;
      background: map-get($color, point-pink);
      margin-bottom: 70px;
    }
  }
  .teamproject_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    .team_instagram{
      .team_instagram_img {
      width: 100%;
      height: 284px;
      background: url(/asset/image/insta.svg) center/cover
      no-repeat;
      }
    }
    .team_prime {
      .team_prime_img {
        width: 100%;
        height: 284px;
        background: url(/asset/image/prime.svg) center/cover
        no-repeat;
      }
    }
    .team_aurora {
      .team_aurora_img {
        width: 100%;
        height: 284px;
        background: url(/asset/image/aurora.svg) center/cover
        no-repeat;
      }
    }
  }
}

/* project */
#project {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  .project_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
    gap: 15px;
    span {
      @include text_16;
    }
    p {
      @include text_30_r; 
    }
    .underline {
      width: 50px;
      height: 2px;
      background: map-get($color, point-pink);
      margin-bottom: 70px;
    }
  }
}
